{% extends "index.html" %}

{% block content %}
<div class="container my-5">
    <div class="inner_text">
        <h1 class="fs-1">Пошаговая инструкция по созданию аргентинского аккаунта</h1>
        <div class="content_text">
            <h2>Создание аргентинского аккаунта с консоли</h2>
            <p><b>Шаг 1.</b> Создайте новую почту на любом популярном сервисе (Gmail, mail, rambler)</p>
            <p><b>Шаг 2.</b> Выйдите из своего основного аккаунта на PS4/PS5.</p>
            <div class="PS my-5">
                <h2>Для PS4:</h2>
                <p><b>Нажмите</b> и <b>удерживайте кнопку PS</b>, чтобы открыть быстрое меню.</p>
                <p>Выберите <b>Питание</b> > <b>Сменить пользователя</b> > <b>Новый пользователь </b> > <b>Создать
                    пользователя</b>.</p>
            </div>

            <div class="PS my-5">
                <h2>Для PS5:</h2>
                <p>Выберите на начальном экране фотографию профиля.</p>
                <p>Выберите <b>Сменить пользователя</b> > <b>Добавить пользователя</b> > <b>Начать</b>. <br>
                    Нажмите <b>«Новый пользоатель»</b>.</p>
            </div>


            <p><b>Шаг 3.</b> Нажмите «Создать пользователя» и согласитесь на условия.</p>
            <p><b>Шаг 4.</b> Внизу экрана выберите «Создать аккаунт».</p>
            <p><b>Шаг 5.</b> Выберите страну. Аргентина. Далее выберите язык.</p>
            <p><b>Шаг 6.</b> Заполните дату рождения.</p>
            <p><b>Шаг 7.</b> Заполните город и почтовый индекс. Адрес и индекс вы можете посмотреть на
                <a href="https://generatefakename.com/ru/address/es/ar" class="fw-bold text-decoration-none">сайте</a>.
            </p>
            <p><b>Шаг 8.</b> Заполните адрес электронной почты и создайте пароль. Прежде чем вы сможете делать покупки
                онлайн в PSN, нужно подтвердить адрес указанной почты.</p>
            <p><b>Шаг 9.</b> Создайте новый сетевой идентификатор, придумайте имя.</p>
            <p><b>Шаг 10.</b> Согласитесь с условиями обслуживания.</p>
            <p><b>Шаг 11.</b> Ваш первый (Российский) аккаунт должен быть как основная система на консоли.</p>
            <p><b>Шаг 12.</b> Подтвердите аккаунт на новой почте.</p>
        </div>
    </div>
</div>

{% endblock %}